.backgroundImage {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
  /* min-height: 1000px; */
}
.heroContainer {
  /* margin-block: 40px; */
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  min-width: 1050px;
  min-height: 900px;
}
#heroHeader {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  top: 20;
  
}
.content {
  z-index: 0;
  color: #ffffff;
  font-size: 350%;
  font-weight: 900;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
}

.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

.indexContent {
   font-weight: 550;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
      1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  margin: 40px 0;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.servicesContent {
  font-weight: 550;
 text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
     1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
 color: #ffffff !important;
 display: flex;
 align-content: center;
 align-items: center;
 flex-direction: column;

}

.servicePics{
  grid-row: 1 / span 2;
  width: 100%;
 
  height: 100%;
  object-fit: cover;

  align-self: center;

  overflow: hidden;
 

}
.row{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
overflow: hidden;
 gap: 10px;
 margin: 40px;
/* height: 30vh; */
height: 280px;
width: 70vw;
box-shadow: 8px 8px 18px 0px rgba(0,0,0,0.6);}
 
/* .row{ display: flex;
  flex-direction: row;
  
  height: 50vh;
  align-items: center;} */

  .serviceSubHeaders{
    flex: 0 0 auto;
  max-height: 45vh;
  width: auto;
  margin: auto;
 padding: 20px;
   margin: auto;
   font-size: 1.4vw;
   /* grid-row: 1/1 ; */
    /* background-image: radial-gradient(#006525 52%, #000000 120%);
    border: 5px solid #c2c2c2e3;
    border-radius: 10px; */
/* background-color: 	#4F7942; */
/* border-radius: 10px;box-shadow: 8px 8px 18px 0px rgba(0,0,0,0.6); */
grid-row: 1;

  }

  .serviceP{grid-row: 2 ;
    padding:0 30px ;
    width: 100%;
 
    height: 100%;
    object-fit: cover;
  
    align-self: center;
  
    overflow: hidden;
    font-size: 0.9vw;
 }
/* border-radius: 15px; */
@media (max-width: 1300px) {
  .content {
    font-size: 250%;
  }
  img.content {
    height: 80px !important;
    width: 80px !important;
  }
}
